@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");

:root {
  --main-bg-color: #201f40;
  --main-text-color: #ffffff;
  --main-accent-color: #ffb800;
  --secondary-text-color: #9393ae;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

body {
  background: var(--main-bg-color);
}

.header {
  display: flex;
  justify-content: space-around;
  padding: 1rem 0rem;
  align-items: center;
}

.location-input-container {
  display: flex;
  align-items: center;
}

.location-icon {
  margin: 0.5rem;
  width: 4rem;
  height: 4rem;
}

.location-input {
  background: none;
  border: none;
  border-bottom: 3px solid var(--main-text-color);
  box-shadow: none;
  color: var(--main-text-color);
  font-size: 2.25rem;
  font-weight: 600;
  width: 18rem;
}

.location-input:focus {
    outline: none;
}

.error {
    color: var(--main-accent-color);
    font-weight: bold;
    text-align: center;
    width: fit-content;
    margin-left: 1rem;
}

.unit-switcher {
  background: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.unit {
    font-size: 1.25rem;
    text-align: center;
    background-color: black;
    width: 3rem;
    height: 3rem;
    margin: .15rem;
    border-radius: .5em;
    color: white;
    outline: none;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

.unit:hover {
    opacity: .75;
}

.current-unit {
    background-color: var(--main-accent-color);
    color: black;
}

.location-header {
  color: var(--main-text-color);
  font-size: 3rem;
  text-align: center;
  font-weight: 700;
}

.date-header {
  color: var(--secondary-text-color);
  font-size: 1.5rem;
  text-align: center;
  margin-top: 0.5rem;
  font-weight: 700;
}

.weather-main {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12%;
}

.weather-main-icon {
  width: 18.75rem;
  height: 18.75rem;
}

.weather-forecast-icon {
  width: 6.25rem;
  height: 6.25rem;
  margin-bottom: 1em;
}

.weather-main-temp-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.weather-main-temp {
  margin-top: 2rem;
  color: var(--main-text-color);
  font-size: 4rem;
}

.weather-main-feels-like {
  color: var(--secondary-text-color);
  font-size: 2rem;
}

.weather-main-stats-container {
  margin: auto;
  border-radius: 1rem;
  width: 50%;
  min-width: 300px;
  padding: 2rem 0;
  margin-top: 5rem;
  display: flex;
  justify-content: space-evenly;
  gap: 5%;
  align-items: center;
}

.weather-main-stats {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.weather-main-stats-header {
  text-align: center;
  color: var(--secondary-text-color);
  font-size: 1.5rem;
  margin-bottom: 1rem;
  font-weight: 600;
}

.weather-main-stats-info {
  text-align: center;
  color: var(--main-text-color);
  font-size: 1.5rem;
  font-weight: 600;
}

.weather-forecast-container {
  margin: 8rem 2rem 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7.5%;
}

.weather-forecast-days {
  width: 12rem;
  height: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #2624646e;
  border-radius: 1.5em;
  box-shadow: 0 0 2px 2px #2624646e;
}

@media (max-width: 650px) {
    * {
        font-size: .55rem; 
    }
}

@media (min-width: 650px) and (max-width: 1100px) {
    * {
        font-size: .8rem; 
    }
}
